.class-order {
  display: flex;
  justify-content: space-around;
  float: right;
  box-sizing: border-box;
  width: 95%;
  margin-top: 50px;
}

.class-order1_lists,
.class-order2_lists {
  border: 1px solid black;
  width: 300px;
  height: 100px;
  background: linear-gradient(45deg, #3d31dd, #de4a67);
  margin: 20px 50px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.class-order2_lists {
  background: linear-gradient(45deg, #079992, #b8e994);
}

.class-order1_lists > h3,
.class-order2_lists > h3 {
  display: flex;
  justify-content: center;
  background-color: #ccae62;
}

.class-order1_lists:hover,
.class-order2_lists:hover {
  color: blue;
}
